.searchbar .form .field input{
    margin-bottom: 8px;
    border:none;
}
.searchbar .form .field button{
    background-color: #222;
}
.ui.segment.searchbar{
    background: #E0E5EC;
    box-shadow:  9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
    border:none;
    margin-bottom: 3rem;
}